<a href="https://colab.research.google.com/github/ikarosgn/DMDP/blob/main/Quiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz 6

สร้างตารางที่ประกอบไปด้วย
สูตรคูณแม่ 1-5,factorial,ยกกำลังสอง,เลข 3 หารค่าในช่องเลขยกกำลังสอง 2 ลงตัว (yes/no)
สำหรับเลข 1-15

**8 columns 15 rows*

In [ ]:
import numpy as np
np.math.factorial(5)

120

In [ ]:
x1_, x2_, x3_, x4_, x5_, fac_, squre_, div_ = [],[],[],[],[],[],[],[]
#ourNum = range(1,6)
ourRange = range(1,16)
#for n in ourNum:
for x in ourRange:
    x2 = 2 * x
    x3 = 3 * x
    x4 = 4 * x
    x5 = 5 * x
    fac = np.math.factorial(x)
    squre = x ** 2
    if squre % 3 == 0:
        div_.append('yes')
    else:
        div_.append('no')
    #print(n," * ",x," = ",result)
    x1_.append(x)
    x2_.append(x2)
    x3_.append(x3)
    x4_.append(x4)
    x5_.append(x5)
    fac_.append(fac)
    squre_.append(squre)

Table_xN = {'x1':x1_,'x2':x2_,'x3':x3_,'x4':x4_,'x5':x5_, 'xN': xN_, 'Factorial':fac_, 'Squre': squre_,'Divisible': div_}
Table_xN_ = pd.DataFrame(Table_xN, columns=['x1','x2','x3','x4','x5', 'Factorial', 'Squre','Divisible'])
print(Table_xN_.shape)
Table_xN_

(15, 8)

    x1  x2  x3  x4  x5      Factorial  Squre Divisible
0    1   2   3   4   5              1      1        no
1    2   4   6   8  10              2      4        no
2    3   6   9  12  15              6      9       yes
3    4   8  12  16  20             24     16        no
4    5  10  15  20  25            120     25        no
5    6  12  18  24  30            720     36       yes
6    7  14  21  28  35           5040     49        no
7    8  16  24  32  40          40320     64        no
8    9  18  27  36  45         362880     81       yes
9   10  20  30  40  50        3628800    100        no
10  11  22  33  44  55       39916800    121        no
11  12  24  36  48  60      479001600    144       yes
12  13  26  39  52  65     6227020800    169        no
13  14  28  42  56  70    87178291200    196        no
14  15  30  45  60  75  1307674368000    225       yes